h1 {
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes example {
    0%   {color:red;}
    25%  {color:yellow;}
    50%  {color:blue;}
    75%  {color:green;}
    100% {color:red;}

}

.row {

    margin: 0 auto;
}

.score, .guess {
    font-size: 50px;
}

.jumbotron {
    background: black !important;
}

p {
    color: white;
}

h2 {
    color: white;
}

.guess {
    color: white;
}

.wins {
    color: forestgreen;
}

.lose {
    color: crimson;
}

.left {
    color: #CCCC00;

}



